body {
  background: black;
  color: #00aaff;
  font-family: "Courier New", monospace;
  padding: 40px;
}

.terminal {
  color: #00aaff;
  font-size: 14px;
  line-height: 1.4;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu li {
  margin: 6px 0;
}

.menu a {
  color: #00aaff;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  color: #66ccff;
}
